<body>
    <h1>My To-Do List</h1>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>
    <footer>My To-Do list © Maria Romero.<br><a href="https://github.com/vega-2135/todo-list" target="_blank">Open this project on GitHub.</a></footer>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>